extends ../../layouts/default.pug
include ../../mixins/table-tree.pug
block main 
    
    section.content-section
        h3 Nhóm quyền
        
        .filter-controls-bar
            
            form(class = "search-box" form-search)
                input(
                    placeholder="Nhập từ khóa" 
                    type="text"
                    name = "keyword"
                    value = keyword
                    )
                i(class="fas fa-search" type ="submit")
            
                        
                    
            a(class="btn-primary-add" type = "button" href = "/admin/roles/create")
                i.fas.fa-plus
                | Thêm Nhóm Quyền
    .product-list-table
        table(class="table-checkbox")
            thead
                tr
                    th STT
                    th Tên Nhóm Quyền
                    th Mô tả ngắn
                    th(style = "text-align:center") Hành động
            tbody
                each item , index in records 
                    tr
                        
                        td #{index + 1}
                        
                        td #{item.title}
                        td #{item.description}
                        td.action-buttons
                            a(class="btn-detail" title="Chi tiết" href=`/admin/roles/details/${item.id}`)
                            i.fas.fa-eye
                            a(class="btn-edit" title="Sửa" href=`/admin/roles/edit/${item.id}`)
                            i.fas.fa-edit
                            a(class = "btn-delete" title="Xóa" href="javascript:;" button-delete = item.id)
                            i.fas.fa-trash-alt
    
    //- nav(aria-label="Page navigation example" class = "pagination")
    //-     ul.pagination
    //-         if(pagination.currentPage > 1)
    //-             li.page-item
    //-                 a.page-link(aria-label="Previous" href="#" page = pagination.currentPage-1)
    //-                     span(aria-hidden="true") «
    //-         - for(let i = 1;i<=pagination.totalPage;i++)
    //-             li(class=`page-item ${pagination.currentPage == i ? "active" : ""}`)
    //-                 a.page-link(href="#" page = i) #{i}
    //-         if(pagination.currentPage < pagination.totalPage)
    //-             li.page-item
    //-                 a.page-link(
    //-                 aria-label="Next" 
    //-                 href="#"
    //-                 page = pagination.currentPage+1
    //-                 )
    //-                     span(aria-hidden="true") »
    //- form(action = ""
    //- path = "/admin/products/change-status"
    //- method = "POST"
    //- form-change-status
    //- )
    //- form(action = ""
    //- path = "/admin/products/delete"
    //- method = "POST"
    //- form-delete-items
    //- )